<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mikes.kim[at]gmail(dot)com">email</a></li>
	        		<li><a href="https://github.com/mikes-kim">github.com/mikes-kim</a></li>
				</ul>
				
				<iframe src="http://www.linkedin.com/pub/mike-kim/b/8ab/12a" height="1" width="1" frameBorder="0"></iframe>
				
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- git1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1121951447808239"
     data-ad-slot="7028702677"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
				
			</footer>
		</body>
	</html>
