<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/videos">Videos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mikes.kim[at]gmail(dot)com">email</a></li>
	        		<li><a href="https://github.com/mikes-kim">github.com/mikes-kim</a></li>
				</ul>
				
				<iframe src="http://www.linkedin.com/pub/mike-kim/b/8ab/12a" height="1" width="1" frameBorder="0"></iframe>
				
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- git1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1121951447808239"
     data-ad-slot="7028702677"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68782516-1', 'auto');
  ga('send', 'pageview');

</script>

				
			</footer>
		</body>
	</html>
